@charset "UTF-8"

*{
    height: 100%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

body{
    background-image:linear-gradient(to top, #0B8AD5, rgb(10, 89, 134));
    background-attachment: fixed; /*para deixar o degrade em toda a página*/
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 16px;
    font-weight: normal;
}

main{
    background-color: white;
    border-radius: 10px; /*é a curva da borda*/
    box-shadow: 5px 5px 5px rgb(6, 53, 80); /*é o tamanho da sombra, lado, baixo, espalhar*/
    width: 600px; /*largura*/
    padding: 10px; /* é a distância da letra até a borda*/ 
    margin: auto;
}

h1{
    color: black;
    text-align: center; 
    text-shadow: 1px 1px 2px; /*Sombra do texto*/
    font-family: 'Times New Roman', Times, serif;
}

h2{
   color:black ;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;

}

p{
    text-align:justify ;
    color: black;
}
